<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

  <!-- Sidebar -->
  <ul [ngClass]="{'toggled': toggle === true}" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/dashboard']">
      <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
      </div>
      <div *ngIf="role != 'ROLE_USER'" class="sidebar-brand-text mx-3">Admin</div>
      <div *ngIf="role == 'ROLE_USER'" class="sidebar-brand-text mx-3">Utilisateur</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" [routerLink]="['/dashboard']">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Tableau de bord</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div *ngIf="role != 'ROLE_USER'" class="sidebar-heading">
      Users
    </div>

    <!-- Nav Item - Utilisateurs Collapse Menu -->
    <li *ngIf="role != 'ROLE_USER'" class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard/parametres/users/list', 'fraudeur']">
        <i class="fas fa-fw fa-user"></i>
        <span>Fraudeurs</span></a>
    </li>

    <li *ngIf="role != 'ROLE_USER'" class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard/parametres/users/list', 'gendarme']">
        <i class="fab fa-fw fa-wpforms"></i>
        <span>Gendarmes</span></a>
    </li>

    <li *ngIf="role != 'ROLE_USER'" class="nav-item">
      <a class="nav-link" [routerLink]="['/dashboard/parametres/users/list', 'superieur']">
        <i class="fas fa-fw fa-table"></i>
        <span>Supérieurs</span></a>
    </li>

    <!-- Divider -->
    <hr *ngIf="role != 'ROLE_USER'" class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Paramètres
    </div>

    <!-- Nav Item - Briefs Collapse Menu -->
    <li class="nav-item">
      <a [routerLink]="['/dashboard/parametres/infractions']" class="nav-link collapsed" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-table"></i>
        <span>Infractions</span>
      </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div (click)="toggle=!toggle" class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->

  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <!-- Sidebar Toggle (Topbar) -->
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <!-- Topbar Search -->
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
          <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="Rechercher..." aria-label="Search" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-search" type="button">
                <i class="fas fa-search fa-sm"></i>
              </button>
            </div>
          </div>
        </form>

        <!-- Topbar Navbar -->
        <ul class="navbar-nav ml-auto">

          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" [routerLink]="['/dashboard']" id="searchDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in" aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>

          <!-- Nav Item - User Information -->

          <li  ngbDropdown class="nav-item dropdown no-arrow">
            <a ngbDropdownToggle class="nav-link dropdown-toggle" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="mr-2 img-profile rounded-circle" src="assets/images/avatar.png" alt="user profil image">
              <span class=" d-none d-lg-inline text-gray-600">{{user?.prenom}} {{user?.nom | uppercase}}</span>
            </a>
          </li>

          <div class="topbar-divider d-none d-sm-block"></div>

          <li class="logout">
            <a (click)="logout()" data-toggle="modal" data-target="#logoutModal">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </li>

        </ul>

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">

        <!-- Render child pages -->
        <div>
          <router-outlet></router-outlet>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Prêt à partir?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Cliquez sur se déconnecter si vous voulez quitter.</div>
      <div class="modal-footer">
        <button id="btn-dismiss" class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
        <a class="btn btn-primary" (click)="logout()">Se déconnecter</a>
      </div>
    </div>
  </div>
</div>

</body>
