.avatar {
  margin-top: 12%;
}
.avatar img {
  width: 90%;
  object-fit: cover;
}
.btn-color {
  background-color: #338f8e;
  color: white;
  border-color: #338f8e;
  margin-top: 2%;
}
.error-input {
  color: #e74a3b;
  margin-top: 1px;
  margin-left: 10px;
  font-size: 12px;
}
.error-select {
  margin-left: 23%;
}
select  {
  height: 90%;
  margin-top: 1.4%;
}
