<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Infractions Routières</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text">
      <span routerLink="/login">Se connecter</span> |
      <span>S'inscrire</span>
    </span>
  </div>
</nav>
<button (click)="goBack()" class="btn btn-light btn-circle">
  <i class="fab fas fa-arrow-left"></i>
</button>
<div class="container-fluid mt-5">
  <h1>Les Délits</h1>
  <h6>Une contravention est une infraction légère qui relève des tribunaux de police et qui est sanctionnée par une amende, des peines privatives ou restrictives de droits. </h6>
  <div class="row">
    <div class="col">
      <ul class="mt-4">
        <li><i class="fa-solid fa-circle-dot"></i> Conduite d’un véhicule dépourvu de police d’assurance : 20 000</li>
        <li><i class="fa-solid fa-circle-dot"></i> Conduite d’un véhicule dépourvu de police d’assurance : 20 000</li>
        <li><i class="fa-solid fa-circle-dot"></i> Conduite d’un véhicule dépourvu de police d’assurance : 20 000</li>
        <li><i class="fa-solid fa-circle-dot"></i> Conduite d’un véhicule dépourvu de police d’assurance : 20 000</li>
        <li><i class="fa-solid fa-circle-dot"></i> Conduite d’un véhicule dépourvu de police d’assurance : 20 000</li>
      </ul>
    </div>
  </div>
</div>
